################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShapeAreaForInternship/DatabaseProject_log.ldf
/ShapeAreaForInternship/DatabaseProject.mdf
